# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Data / Models
data/
fine_tuned_model/
*.safetensors

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
results/
checkpoints/
*.safetensors